
.contactform {
  background-color: white;
  text-align: center;
  height: 80vh; 
  margin-top: 190px;
  margin-left: 105px;
  margin-right: 105px;
}
.contactform h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  padding-top: 50px;
 
}
.contactform p{
  font-family: 'Noto Sans SC', sans-serif;
  color: #707070;
}
.contactform input {
    padding: 10px;
    border: 0px solid #ccc;
    color:black;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    width: 350px;
    margin-right: 30px;
  }
.contactform textarea{
  margin-top: 40px;
  margin-right: 32px;
  background-color: #f8f8f8;
  border: 0px solid #ccc;
}
.contactform img{
  height:50px;
}
@media (max-width: 1024px) {
  .contactform input[type='text'],
  .contactform textarea {
    margin-bottom: 20px; 
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
 

}


  