
.new-carousel-container {
    max-width: 800px; 
    margin: 0 auto;
    margin-left: 100px;
    
  }
  
  .new-carousel-item {
    width: 150px;
    height: 360px;
    margin-right: 10px; 
  }
  
  .new-carousel-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; 
  }
  
  .new-navigation-buttons {
    margin-top: 20px; 
  }
  
  .new-carousel-container {
    position: relative; 
  }
  
  .new-nav-button {
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0px;
  }
  
  .new-prev-button {
    left: 0; 
    transform: translate(-50%, -50%) scaleX(-1);
    height: 40px;
    
  }
  
  .new-next-button {
    right: 0; 
    transform: translate(50%, -50%); 
    height: 40px;
  }
  .new-carousel {
    margin-top: 100px;
    margin-right: 10px;
}
  
  @media screen and (max-width: 723px) {
    .new-carousel-container {
      max-width: 400px; 
      margin: 0 auto;
      margin-left: 30px;
    }
    .new-nav-button{
      margin-top: -100px;
    }
    .new-carousel-item img{
     width: 180px;
     padding-right: 10px ;
    }
    
  }
  