.Ourtrainer-text{
    margin-top: 40px;
    
}
.Ourtrainer-text h3,p{
    text-align: center;
    
}
.Ourtrainer-text h3{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}
.Ourtrainer-text p{
   color: #131313;
   font-family: "Noto Sans SC Medium", sans-serif; 
   
}
.trainer-hp{
    margin-top: 100px;
}
.new-carousel{
    margin-top: 100px;
  }
.text-trainer{
    margin-top: 100px;
    margin-left: 100px;
}
.text-trainer h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.text-trainer h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: medium;
    font-size: 20px;
    color: #08150A;
}
.text-trainer p{
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    max-width: 300px;
}
.white-icons img{
    margin-right: 10px;
}